



.form{
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 1rem;
  align-items: stretch;
}

.single.form{
  margin: .8rem 0 0 0;
}

.textarea{
  display: block;
  resize: none;
  font-family: var(--typeFirst);
  font-size: 1rem;
  width: 100%;
  border: 1px solid #eee;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: #eee;
  transition: .2s;
}

.textarea:hover,
.textarea:focus{
  outline: none;
  border-color: #fb1;
  background-color: white;
  box-shadow: 0 0 0 2px #fea;
}
.button{
background-color: transparent;
border: none;
color: #333;
font-size: 1rem;
padding: 0 1rem;
overflow: hidden;
cursor: pointer;
}

.button:hover,
.button:focus{
  outline: none;
}

.button:hover svg path,
.button:focus svg path{

  fill: #fea;
  stroke: #fb1;
}
.button:hover svg g,
.button:focus svg g{
  animation: latir 0.5s infinite;
}

@keyframes latir{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}