.nav{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.nav a,
.nav button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #eee;
  border-radius: 0.2rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.15s;
}

.nav a:hover,
.nav a:focus,
.nav button:hover,
.nav button:focus{
  outline: none;
  background-color: white;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
}

.nav a:global(.active){
  background-color: white;
  box-shadow: 0 0 0 3px #fea;
  border-color: #fb1;
}
.nav a:global(.active) svg > *{
  fill: #fb1;
}
.mobileButton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #eee;
  border-radius: 0.2rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.15s;
}

.mobileButton::after{
  content: '';
  display: block;
  width: 1.2rem;
  height: 2px;
  border-radius: 2px;
  background-color: currentColor;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: 0.2s;
}
.mobileButton:hover,
.mobileButton:focus,
.mobileMenu{
  outline: none;
  background-color: white;
  box-shadow: 0 0 0 3px #fea;
  border-color: #fb1;
  color: #fb1;
}

.menuAtivo::after{
transform: rotate(90deg);
width: 4px;
height: 4px;
box-shadow: 0 8px  currentColor, 0 -8px currentColor;
}

.navMobile{
  display: block;
  position: absolute;
  top: 70px;
  right: 0px;
  padding: 0 1rem;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  transform: translateX(-10px);
  opacity: 0;
  pointer-events: none;
}

.navMobileAtivo{
  transition: 0.3s;
  transform: initial;
  opacity: 1;
  z-index: 100;
  pointer-events: all;
}

.navMobile a,
.navMobile button{
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.5rem 0;
  background: none;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #eee;
  color: #333;
}
.navMobile button{
  border-bottom: none;
}
.navMobile svg{
  margin-right: 0.5rem;
}
.navMobile a:hover svg > *,
.navMobile button:hover svg > *{
  fill: #fb1;
}

